<!-- HTML5 ðŸ˜ -->
<!doctype html>
<html>
  <head>
    <!-- Set charset to UTF-8 first -->
    <meta charset="UTF-8" />
    <!-- Wooh, more emoji ðŸ˜Š -->

    <!-- Present title early -->
    <title>{% block foundation_title %}{% endblock %}</title>

    {% block foundation_meta %}{% endblock %}

    <!-- Start of Stylesheets -->
    <link rel="preload" as="stylesheet" href="{{ asset('public/css/app.css') }}">
    {% block foundation_stylesheets %}{% endblock %}
    <!-- End of Stylesheets -->

    <!--Begin of iconography -->
    {% include 'favicon/head.html.twig' %}
    <!--End of iconography -->
  </head>
  <body class="{% block foundation_body_class %}{% endblock %}">
    {% block foundation_body %}{% endblock %}

    <!-- Start of theme -->
    <link rel="stylesheet" href="{{ asset('public/css/app.css') }}">
    <!-- End of theme -->

    <!-- Start of Javascripts -->
    <script src="{{ asset('public/manifest.js') }}" charset="utf-8"></script>
    <script src="{{ asset('public/vendor.js') }}" charset="utf-8"></script>
    <script src="{{ asset('public/js/app.js') }}" charset="utf-8"></script>
    {% block foundation_javascripts %}{% endblock %}
    <!-- End of Javascripts -->
  </body>
</html>
